.jobFormContainer {
    padding: 0.3rem 3rem;
}

.formGroup {
    display: flex;
    margin-top: 0.7rem;
    width: 100%;
}

.formGroup>label {
    width: 30%;
    font-weight: 700;
    font-size: 1rem;
}

.formGroup>input {
    width: 70%;
    padding: 0.4rem 1rem;
    border-radius: 4.603px;
    border: 1.841px solid #C2C2C2;
    background: #FFF;
    font-size: 0.7rem;
}

.jobType {
    width: 20%;
    padding: 0.2rem 0.5rem;
    border-radius: 4.603px;
    border: 1.841px solid #C2C2C2;
    background: #FFF;
    color: #ADADAD;
}

.describeInput {
    width: 70%;
    padding: 0.2rem 1rem;
    border-radius: 4.603px;
    border: 1.841px solid #C2C2C2;
    background: #FFF;
    font-size: 0.8rem;
    height: 60px;
    resize: none;
}

.actionBtn {
    margin-top: 0.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.actionBtn>button {
    border-radius: 6.508px;
    font-weight: 700;
    cursor: pointer;
}

.cancelBtn {
    color: #C2C2C2;
    padding: 0.3rem 1.2rem;
    border-radius: 6.508px;
    border: 0.848px solid #CECECE;
    background: #FFF;
}

.addJobBtn {
    border: none;
    padding: 0.3rem 1.2rem;
    background-color: #ED5353;
    display: flex;
    align-items: center;
    color: #ffff;
}